<h3 align=center> </h3>
<p class="text-black">enter your Roomid</p>
<input type="text" id="RoomId" name="room" />
<script type="text/javascript">
    function CopyToLabel() {
        //Reference the TextBox.
        var txtName = document.getElementById("RoomId");        
        window.location.href = '@Url.Action("GetMessages", "Message")?id=' + txtName.value;
        //return false;
    }
</script>
<input type="submit" value="Search" class="btn btn-primary" onclick="return CopyToLabel()" />

@model IEnumerable<ConsumingWebApi.Models.Message.GetMessages>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="message-text rounded-3">
    <table >

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="input-group-text py-3 my-3 px-4 px-lg-5 d-flex ">
                        @Html.DisplayFor(modelItem => item.Timestamp)-
                    <br>
                        @Html.DisplayFor(modelItem => item.FirstName)-
                    <br>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <br /><br />   
</div>
<a asp-action="Index" asp-controller="Message" class="btn btn-dark">Back</a>

