
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="message rounded-3">
    <div class="container border py-3 my-3 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center btn-group rounded-3">
        <a href="#" class="btn btn-warning btn-lg" role="button">Messages Module</a>
    </div>
    <br />

    <div class="p-5 my-4  rounded-3 ">
        <div align="center">            
            <br />
            <a href="/Message/GetMessages" class="btn btn-primary btn-lg" role="button">Check Messages</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Message/AddMessageToRoom" class="btn btn-primary btn-lg" role="button">Send Messages</a>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

