
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
</head>
<body>
  <div >
    <div class="jumbotron text-center modal-body">
        <h1 class="display-1 fw-normal text-info text-">Welcome To Fun Activity Game</h1>
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">

                <a href="/User/Login" title="click here to Login...">
                <img src="https://www.freeiconspng.com/uploads/login-button-png-5.png" width="330" alt="No Image" />
            </a>
           
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/User/Register" title="click here for registration">
                <img src="https://www.freeiconspng.com/uploads/register-button-png-26.png" width="270" alt="No Image" />
            </a>

        </div>
    </div>
  </div>
</body>
</html>


@*<div class="jumbotron text-center modal-body">
  <h1 class="display-1 fw-normal text-info text-">Welcome To Fun Activity Game</h1>
     <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
     <a href="/User/Login" title="click here to Login...">
         <img src="https://www.freeiconspng.com/uploads/login-button-png-5.png" width="330" alt="No Image" />
     </a>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/User/Register" title="click here for registration">
         <img src="https://www.freeiconspng.com/uploads/register-button-png-26.png" width="270" alt="No Image" />
         </a>
   
    </div>
</div>
</div>
*@
