

<link rel="stylesheet" href="~/css/Room.css" asp-append-version="true" />
<div class="game rounded-3">
    <div class="container border py-3 my-3 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center btn-group rounded-3">
@*        <a href="/Room/RoomDetails" class="btn btn-outline-warning text-white btn-lg" role="button">CheckRooms by UserId</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
*@        <a href="/Room/Rooms" class="btn btn-warning btn-lg" role="button">List Of Rooms</a>
    </div>
    <br />

    <div class="p-5 my-4  rounded-3 ">
        <div align="center">
            <h1>Room Details</h1>
            <br />
            <a href="/Room/CreateRoom" class="btn btn-primary btn-lg" role="button"> Create Room</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/UserRoom/AddUsersToRoom" class="btn btn-primary btn-lg" role="button">Join Room</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

